div.exactFit {
    word-wrap: break-word;
}

img{
    width: 100%;
}

.post-col {
    background: white;
}

span {
    margin-right: 5px;
    align-self: center;
}

.btn {
    margin-right: 10px;
    align-self: center;
}

.btn-outline-info {
    margin-left: auto;
}