.talk {
  height: 92vh;
  width: 100%;
  overflow-y: scroll;
  border-bottom: 1px solid #eee;
}

.talk-box {
  padding: 0.6rem;
  display: flex;
  flex-direction: row;
}

.talk-box.reverse {
  flex-direction: row-reverse;
}

.talk-info {
  display: flex;
  flex-direction: column;
}

.talk-info.reverse {
  align-items: flex-end;
}

.user-img img {
  height: 10vh;
  width: 10vh;
  border: 3px solid #eee;
  border-radius: 100%;
  margin: 0 0.6rem;
}

.message {
  display: flex;
  color: #000;
}

.message.reverse {
  flex-direction: row-reverse;
}

.user-message {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.2rem 0.2rem 0 0.2rem;
  max-width: 500px;
}

.user-message.reverse {
  background: rgb(57, 235, 131);
  border: none;
}

.send-time {
  align-self: flex-end;
  font-size: 0.8rem;
  color: #777;
}

.back-btn {
  cursor: pointer;
}

/* talk-input */

.talk-input {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 8vh;
}

.talk-input input {
  height: 100%;
  width: 100%;
  border: none;
  border-top: 1px solid #ddd;
  padding: 0 1rem;
  font-size: 1.1rem;
}

.talk-input input:focus {
  outline: none;
}