.main {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.row {
    margin: 1em 0;
}
#register{
  position: absolute;
  right:500px;
  top:10px;
}
#login_position{
  position: absolute;
  right:400px;
  top:10px;
}
#artist_position{
  position: absolute;
  right:300px;
  top:10px;
}

.nav-item{
  margin: 10px;
}