.person-card {
  width: 100%;
  height: 50vh;
  padding: 2rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border: 1px solid #ddd;
  background: url(https://source.unsplash.com/1600x900/?water,stone);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.person-card img {
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.username {
  font-size: 3rem;
  color: #fff;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
}

.info > div > i {
  margin-right: 0.5rem;
}

.info-title {
  font-size: 2rem;
}

.border {
  width: 3rem;
  height: 5px;
  background: #17a2b8;
  margin-bottom: 1rem;
}

.split-line {
  width: 100%;
  height: 1px;
  background: #eee;
  margin: 1rem 0 0.5rem 0;
}
