.collect_button {
    background-color:	#00CED1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.btn:focus {
    outline: none !important;
    outline-offset: none !important;
}
