.title{
    text-align: center;
    margin: 1.2rem;
    color: #333;
    font-size: 2rem;
}

.row {
    overflow-x: auto;
}

.arrow-btn {
    cursor: pointer;
    transition: all .01s;
    color: rgba(0, 0, 0, 0.2);
}

.arrow-btn:hover {
    transform: scale(1.05);
}
