.wellcome{
    background-color: aliceblue;
    
}

#id_footer {

  /* 設定footer的高度 */
  height: 5rem;
  /* 設定footer絕對位置在底部 */
  position: fixed;
  /* 展開footer寬度 */
  width: 100%;
  background-color:black;
  color:white;
  bottom: 0;
}

   .form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
