.wellcome{
    /* background-color: aliceblue; */
    background: #f4f4f4;
    
}

#id_footer {

  /* 設定footer的高度 */
  height: 5rem;
  /* 設定footer絕對位置在底部 */
  /* position: fixed; */
  /* 展開footer寬度 */
  width: 100%;
  background-color:rgb(253, 253, 253);
  color: #17a2b8;
  /* bottom: 0; */
  padding: 1rem;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.link a {
    color: #17a2b8;
}

.inline-border {
    width: 100%;
    height: 1px;
    border-top: 1px solid #17a2b8;
}

.contact {
    color: #17a2b8;
}

button.search-btn {
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-select select {
    height: 3rem;
    padding: 0 0.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid #17a2b8;
}

.dropdown-select select:focus {
    outline: none;
}